/* form_uplm1.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('img/perpus-bg.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: white; /* warna teks */
}

.kembali {
  margin-top: 20px;
  margin-bottom: 10px;
}

.kembali a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.kembali a:hover {
  background-color: #45a049;
}

form {
  background: rgba(0, 0, 0, 0.7); /* warna latar belakang form dengan transparansi */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* bayangan pada form */
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50; /* warna tombol */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* warna tombol saat dihover */
}
